
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*.7z
test/
*.nvact
*.ter
img/

backends/cpu/build/
backends/cuda/build/
frontend/backends/cpu/build/
frontend/backends/cuda/build/
frontend/build/
frontend/ext/include
frontend/ext/lib
frontend/download
\.vscode/settings\.json
build/
