[submodule "submodules/vulpesrender"]
	path = submodules/vulpesrender
	url = https://github.com/fuchstraumer/vulpesrender
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
